body {
  background-color: rgb(4, 154, 204);
  font-family: georgia, helvetica, sans Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

#idCard {
  border: 5px solid black;

  border-radius: 25px;

  height: 14em;

  width: 25em;

  background-color: rgb(238, 124, 143);
}

#postFullName {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#postAge {
  text-align: left;
}

#postPhoneNumber {
  text-align: left;
}

#postAddress {
  text-align: left;
}

p {
  font-weight: bold;
}

img {
  width: 90px;
  height: 90px;
  float: left;
}
